@use '../../../styles/spacing'
@use '../../../styles/font-sizes'
@use '../../../styles/theme'

.message_wrapper
  padding: spacing.$regular
  background-color: theme.$primary
  display: flex
  justify-content: space-between
  margin: 0 spacing.$half
  font-size: font-sizes.$larger
  border-radius: 4px
  gap: spacing.$regular

.mine
  background-color: theme.$secondary
  flex-direction: row-reverse

.left-side
  display: flex
  gap: spacing.$regular

.time
  display: flex
  align-items: flex-end
  font-size: font-sizes.$regular

.text
  margin: spacing.$half

